<!-- <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div> -->

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title" data-ng-controller="TransacoesCtrl">{{transacoes.length}}</div>
				<div class="comment">Transações</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12"></div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title" data-ng-controller="ContasCtrl">{{contas.length}}</div>
				<div class="comment">Contas</div>
			</rd-widget-body>
		</rd-widget>
	</div>

</div>
<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="Transações Efetuadas">
				<a href="#/transacoes">Nova</a>
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead><th>Origem</th><th>Destino</th><th>Status</th></thead>
						<tbody data-ng-controller="TransacoesCtrl" data-ng-show="transacoes.length">
							<tr data-ng-repeat="transacao in transacoes">
								<td>{{transacao.origem}}</td>
								<td>{{transacao.destino}}</td>
								<td><span class="text-{{transacao.status}}"><i class="fa fa-{{transacao.status}}"></i></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Contas">
				<a href="#/contas">Nova</a>
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">CPF/CNPJ</th><th>Nome/Razão Social</th></tr>
						</thead>
						<tbody data-ng-controller="ContasCtrl" data-ng-show="contas.length">
							<tr data-ng-repeat="conta in contas"><td class="text-center">{{conta.id}}</td><td>{{conta.nome}}</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="Extras">
   				<button class="btn btn-sm btn-info">Button</button>
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
				</div>
				<hr />
				<div class="message">
					<a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
				<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
</div> -->